<div class="editprofilebox">

  <h1>Take a moment to fill out your profile</h1>

  <div class="edit-container edit-fluid-container"> 
  <%= form_for @user, :html => {:role => 'form', :class => 'form-horizontal', :multipart => true} do |f| %>


    <div class="row">
        <div class="col-md-4 edit-fields-box">
              <div class="form-inputs">
                    <div class="form-group">
                      <%= f.text_field :first_name, class: "form-control edit-field", placeholder: "First Name" %>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :last_name, class: "form-control edit-field", placeholder: "Last Name" %>
                    </div>

                    <div class="form-group image-section">
                      <div class="col-md-6 image-upload">
                      <%= f.label :profile_image, class: "titles-edit" %>
                      <%= f.file_field :image, class: "profile-picture-upload" %>
                      </div>
                      <div class="col-md-6 profile-image-box" >
                        <%= image_tag f.object.image.thumb('50x50#').url, class:'media-object img-circle' if f.object.image.present? %>
                      </div>
                    </div>   

                 <div class="row">

                  <p class="titles-edit"> Times Available: </p>

                  <div class="col-md-6 time-box-container">
                    <div class="time-box-each">
                    <%= f.label :Monday %>
                    <%= f.check_box :monday, class: "time-checkbox" %>
                    <%= f.text_field :mondaytime1, class: "spinner time-box" %>
                    <%= f.text_field :mondaytime2, class: "spinner time-box" %>
                    </div>g
                    <div class="time-box-each">
                    <%= f.label :Tuesday %>
                    <%= f.check_box :tuesday, class: "time-checkbox" %>
                    <%= f.text_field :tuesdaytime1, class: "spinner time-box" %>
                    <%= f.text_field :tuesdaytime2, class: "spinner time-box" %>
                    </div>
                    <div class="time-box-each">
                    <%= f.label :Wednesday %>
                    <%= f.check_box :wednesday, class: "time-checkbox" %>
                    <%= f.text_field :wednesdaytime1, class: "spinner time-box" %>
                    <%= f.text_field :wednesdaytime2, class: "spinner time-box" %>
                    </div>
                    <div class="time-box-each">
                    <%= f.label :Thursday %>
                    <%= f.check_box :thursday, class: "time-checkbox" %>
                    <%= f.text_field :thursdaytime1, class: "spinner time-box" %>
                    <%= f.text_field :thursdaytime2, class: "spinner time-box" %>
                    </div>
                  </div>

                  <div class="col-md-6 time-box-container">
                    <div class="time-box-each">
                    <%= f.label :Friday %>
                    <%= f.check_box :friday, class: "time-checkbox" %>
                    <%= f.text_field :fridaytime1, class: "spinner time-box" %>
                    <%= f.text_field :fridaytime2, class: "spinner time-box" %>
                    </div>
                    <div class="time-box-each">
                    <%= f.label :Saturday %>
                    <%= f.check_box :saturday, class: "time-checkbox" %>
                    <%= f.text_field :saturdaytime1, class: "spinner time-box" %>
                    <%= f.text_field :saturdaytime2, class: "spinner time-box" %>
                    </div>
                    <div class="time-box-each">
                    <%= f.label :Sunday %>
                    <%= f.check_box :sunday, class: "time-checkbox" %>
                    <%= f.text_field :sundaytime1, class: "spinner time-box" %>
                    <%= f.text_field :sundaytime2, class: "spinner time-box" %>
                    </div>
                  </div>
                </div>
   
              </div>
        </div>

        <div class="col-md-8 edit-fields-box">
              <div class="col-sm-6">
                    <div class="form-group">
                      <%= f.text_field :twitter, class: "form-control edit-field", placeholder: "Twitter" %>
                      Private
                      <%= f.check_box :private_twitter, :checked => @user.private_attrs.include?(:twitter) %>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :industry, class: "form-control edit-field", placeholder: "Industry" %>
                      Private
                      <%= f.check_box :private_industry, :checked => @user.private_attrs.include?(:industry) %>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :job_title, class: "form-control edit-field", placeholder: "Job Title" %>
                      Private
                      <%= f.check_box :private_job_title, :checked => @user.private_attrs.include?(:job_title) %>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :location, class: "form-control edit-field", placeholder: "Location" %>
                      Private
                      <%= f.check_box :private_location, :checked => @user.private_attrs.include?(:location) %>
                    </div>
              </div>

              <div class="col-sm-6">
                    <div class="form-group">
                      <%= f.text_field :occupation, class: "form-control edit-field", placeholder:"Occupation" %>
                      Private
                      <%= f.check_box :private_occupation, :checked => @user.private_attrs.include?(:occupation) %>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :gender, class: "form-control edit-field", placeholder:"Gender" %>
                      Private
                      <%= f.check_box :private_gender, :checked => @user.private_attrs.include?(:gender) %>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :work_history, class: "form-control edit-field", placeholder:"Work History" %>
                      Private
                      <%= f.check_box :private_work_history, :checked => @user.private_attrs.include?(:work_history) %>
                    </div>

                   <div class="form-group">
                     <%= f.number_field :years_of_experience, class: "form-control edit-field", placeholder:"years_of_experience" %>
                     Private
                     <%= f.check_box :private_years_of_experience, :checked => @user.private_attrs.include?(:years_of_experience) %>
                   </div>
              </div>

              <div class="form-group bio">
                      <%= f.label :Bio, class: "titles-edit" %>
                      <%= f.text_area :summary, class: "form-control edit-field-bio", rows:"7"%>      
              </div> 
        </div>
      </div>

      
              <div class="form-actions submit-edit">
                <%= f.button :submit, class: "btn btn-default btn-lg" %>
              </div>

          <% end %>
        </div>
    </div>


  </div>
</div>