<div class="about-container">
  <h1>The Team</h1>

	<div class="container about-fluid-container">
	  <div class="row">  

	  	<div class="col-md-6">

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Neil.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Neil Limaye - CEO and Founder.</h4>
				    <p>Neil is a senior at Princeton High School</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Kevin.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Kevin Ivanov - CMO. </h4>
				    <p>Kevin studies Computer Science at Rutgers University - New Brunswick.</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Jaskeerat.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Jaskeerat Sethi - Head of Veteran and Student Outreach</h4>
				    <p>Currently an honors student at West Windsor Plainsboro High School.</p>
				  </div>
				</div>
			</div>

	    </div>

	    <div class="col-md-1">

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Peter.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Peter Paine - Outreach</h4>
				    <p>Peter is a senior at Saint Paul's School in Concord, New Hampshire.</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Gauthier.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Gauthier Kreilmann - Development and Marketing</h4>
				    <p>Gauthier studies Computer Science at American University</p>
				  </div>
				</div>
			</div>

		</div>

	</div>
	</div>

</br>
<h1>Advisory Board</h1>

</br>
	<div class="container about-fluid-container">
	  <div class="row">  

	  	<div class="col-md-6">

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Hernandez.jpg", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Fernando Hernandez</h4>
				    <p>Fernando is the Director of Supplier Diversity and the Head of the Global Procurement Group at Microsoft.</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Kreilmann.jpg", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Bernard Kreilmann </h4>
				    <p>Bernard is the current CEO of Ferrero USA. He studied Marketing at the Ecole Pratique Hautes Etudes Commerciales and then went on to complete the Global CEO Program at Wharton Business School.</p>
				  </div>
				</div>
			</div>

	    </div>

	    <div class="col-md-1">

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Paine.jpg", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Els Paine</h4>
				    <p>Els is the head of Princeton University’s Molecular Biology department. She obtained her A.B. in Biology from Princeton and an M.B.A. from the Wharton School.</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Lemenager.jpg", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Steve Lemenager</h4>
				    <p>Steve is a graduate of Bowdoin (B.A.) and Harvard (Ed. M.), is the former admissions executive at Princeton and President of Edvice LLC.</p>
				  </div>
				</div>
			</div>

		</div>


	</div>
	</div>
</br>
</br>


 </div>


