<div class="about-container">
  <h1>The Team</h1>

	<div class="container about-fluid-container">
	  <div class="row">  

	  	<div class="col-md-6">

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Neil.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Neil Limaye - CEO and Founder.</h4>
				    <p>Neil is a junior at Princeton High School</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Kevin.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Kevin Ivanov - CMO. </h4>
				    <p>Kevin studies Computer Science at Rutgers University - New Brunswick.</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Jaskeerat.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Jaskeerat Sethi - Head of Veteran and Student Outreach</h4>
				    <p>Currently an honors student at West Windsor Plainsboro High School.</p>
				  </div>
				</div>
			</div>

	    </div>

	    <div class="col-md-1">

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Pain.jpg", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Peter Paine - Outreach</h4>
				    <p>Peter is a junior at Saint Paul's School in Concord, New Hampshire.</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Kreilmann.jpg", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Gauthier Kreilmann - Development and Marketing</h4>
				    <p>Gauthier studies Computer Science at American University</p>
				  </div>
				</div>
			</div>



			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Kevin.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Kevin Ivanov - CMO. </h4>
				    <p>Kevin studies Computer Science at Rutgers University - New Brunswick.</p>
				  </div>
				</div>
			</div>

		</div>

	</div>
	</div>


<h1>Our Board of Advisors</h1>


	<div class="container about-fluid-container">
	  <div class="row">  

	  	<div class="col-md-6">

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Neil.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Neil Limaye - CEO and Founder.</h4>
				    <p>Neil is a junior at Princeton High School</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Kevin.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Kevin Ivanov - CMO. </h4>
				    <p>Kevin studies Computer Science at Rutgers University - New Brunswick.</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Jaskeerat.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Jaskeerat Sethi - Head of Veteran and Student Outreach</h4>
				    <p>Currently an honors student at West Windsor Plainsboro High School.</p>
				  </div>
				</div>
			</div>

	    </div>

	    <div class="col-md-1">

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Pain.jpg", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Peter Paine - Outreach</h4>
				    <p>Peter is a junior at Saint Paul's School in Concord, New Hampshire.</p>
				  </div>
				</div>
			</div>

			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Kreilmann.jpg", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Gauthier Kreilmann - Development and Marketing</h4>
				    <p>Gauthier studies Computer Science at American University</p>
				  </div>
				</div>
			</div>



			<div class="about-profile-containers">
				<div class="media">
				  <a class="pull-left">
				  	<%= image_tag("Kevin.png", alt: "logo-image", class:'media-object img-circle') %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Kevin Ivanov - CMO. </h4>
				    <p>Kevin studies Computer Science at Rutgers University - New Brunswick.</p>
				  </div>
				</div>
			</div>

		</div>


	</div>
	</div>
 

 </div>


